h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;

  /* font-size: clamp(1rem, -0.875rem + 8.333333vw, 3.5rem); */
  font-size: clamp(1rem, 0.5rem + 5vw, 2.5rem);
}

.container {
  height: 95vh;
  max-width: 1200px;
  margin: 0 auto;
}

.chessboard {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.box {
  width: 100%;
  max-width: 100px;

  /* this gives box height */
  padding-bottom: 12.5%;
}

.row-1 .box:nth-child(even),
.row-2 .box:nth-child(odd) {
  background-color: green;
}

.row-1 .box:nth-child(odd),
.row-2 .box:nth-child(even) {
  background-color: beige;
}