/* *, *::before, *::after {
  margin: 0;
  padding: 0;
} */

.container {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;

  height: 95vh;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.box {
  width: 100%;
  max-width: 100px;

  /* this gives the height */
  padding-bottom: 12.5%;
}

.row-1 .box:nth-child(even),
.row-2 .box:nth-child(odd) {
  background-color: green;
}

.row-1 .box:nth-child(odd),
.row-2 .box:nth-child(even) {
  background-color: beige;
}