.box {
  width: 100px;
  height: 100px;
  /* width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px; */
}

/* .row-1 .box:nth-child(even),
.row-2 .box:nth-child(odd),
.row-3 .box:nth-child(even),
.row-4 .box:nth-child(odd),
.row-5 .box:nth-child(even),
.row-6 .box:nth-child(odd),
.row-7 .box:nth-child(even),
.row-8 .box:nth-child(odd) {
  background-color: green;
}

.row-1 .box:nth-child(odd),
.row-2 .box:nth-child(even),
.row-3 .box:nth-child(odd),
.row-4 .box:nth-child(even),
.row-5 .box:nth-child(odd),
.row-6 .box:nth-child(even),
.row-7 .box:nth-child(odd),
.row-8 .box:nth-child(even) {
  background-color: green;
} */

.row-1 .box:nth-child(even),
.row-2 .box:nth-child(odd) {
  background-color: green;
}

.row-1 .box:nth-child(odd),
.row-2 .box:nth-child(even) {
  background-color: beige;
}

.row {
  display: flex;
}